/* Base and typo styles */

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


body {
    margin: 0;
}

.page {
    display: flex;    
}

/* nav styles */

#navbar {          
    background:#eee;
    height: 100vh;
    border-right: 2px solid #111;

}

.nav-link {
    width: 350px;
    border-top: 1px solid #979797;    
    display: block;
    padding: 25px;
    text-decoration: none;
    color: #111;
    font-weight: 400;
    font-size: 30px;
        
}

.nav-link:hover {
    text-decoration: underline;
}

/* main style */

main {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

pre {
    padding-top: 14px;
    background: #ddd;
}



/* media query  */



@media (max-width: 600px) {
    .page {
        flex-direction: column;
    }

    #navbar{
        border-right: none;
        border-bottom: 2px solid #777;
        height: 300px;
        overflow-y: scroll;
        width: 100%;        
    }

    main {
        height: auto;
        width: 100%;
    }
}
